{{ header }}
<div id="common-success" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <h2>{{ ext_success }}</h2>

      <div class="table-responsive">
          
        {% if products %}
        
        <table class="table table-bordered table-hover">
          <thead>
          <tr>
            <td class="text-left">{{ column_name }}</td>
            <td class="text-left">{{ column_model }}</td>
            <td class="text-left">{{ column_category }}</td>
            <td class="text-right">{{ column_quantity }}</td>
            <td class="text-right">{{ column_price }}</td>
        <!--    <td class="text-right">{{ column_total }}</td> . -->
          </tr>
          </thead>
          <tbody>

          {% for product in products %}
            <tr>
              <td class="text-left"><a href="{{ product.href }}">{{ product.name }}</a> {% for option in product.option %} <br />
                  &nbsp;<small> - {{ option.name }}: {{ option.value }}</small> {% endfor %}
                  {% if product.recurring %} <br />
                    <span class="label label-info">{{ text_recurring_item }}</span> <small>{{ product.recurring }}</small> {% endif %}</td>
              <td class="text-left">{{ product.model }}</td>
              <td class="text-left">{{ product.category }}</td>
              <td class="text-right">{{ product.quantity }}</td>
              <td class="text-right">{{ product.price }}</td>
          <!--    <td class="text-right">{{ product.total }}</td> -->
            </tr>
          {% endfor %}

          </tbody>

          <tfoot>

     <!--    {% for total in totals %}
            <tr>
              <td colspan="4" class="text-right"><strong>{{ total.title }}:</strong></td>
              <td class="text-right">{{ total.text }}</td>
            </tr>
          {% endfor %}  -->
         <tr>
              <td colspan="4" class="text-right"><strong>{{ column_total }}:</strong></td>
              <td class="text-right">{{ order.order_total }}</td>
          </tr> 
          
          </tfoot>

        </table>
        {% endif %}
      </div>
      {{ text_message }}
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}