<div class="panel panel-default news_tape_block">
  <div class="panel-heading titleNews ">{{ heading_title }}</div>
  <div class="panel-body ">
  {% for news in all_news %}
      <li class="news_tape">
      <a href="{{ news.view }}">
          <div class="img_left" ><img src="{{ news.image }}" alt="{{ news.title }}" class="img-responsive" /></div>
          <div>{{ news.date_added }}</div>
          <br />
          <p>{{ news.title }}</p>
      </a>
      </li>
  {% endfor %}
  </div>
</div>