{{ header }}
<div id="information-information" class="container">
    <!-- <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
  </ul>  -->
    {% if parallax %}


  <div class="row parallax">
        {% set information_row = 1 %}
        {% for parallax in parallax_info %}
        <div id="group{{ information_row }}" class="parallax__group">
            <div class="parallax__layer--fore ">
                <img src="{{ parallax.image }}">
            </div>

            <div class="parallax__layer parallax__layer--base">
                <div>
                    {{ parallax.description }}
                </div>
            </div>
            {% if information_row%2 %}
            <div class="parallax__layer parallax__layer--back">
                <img src="{{ parallax.image_background }}">
            </div>
            {% else %}
            <div class="parallax__layer parallax__layer--deep">
                <img src="{{ parallax.image_background }}">
            </div>
            {% endif %}
        </div>
        {% set information_row = information_row + 1 %}
        {% endfor %}

    </div>
    {% else %}
        <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
        </ul>
        <div class="row">{{ column_left }}
            {% if column_left and column_right %}
                {% set class = 'col-sm-6' %}
            {% elseif column_left or column_right %}
                {% set class = 'col-sm-9' %}
            {% else %}
                {% set class = 'col-sm-12' %}
            {% endif %}
            <div id="content" class="{{ class }}" style="background-image: url('{{ image }}')">{{ content_top }}
                {{ description }}{{ content_bottom }}</div>
            {{ column_right }}</div>
    {% endif %}
</div>
{{ footer }}